@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Noto+Sans+Mono:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Roboto:wght@300&display=swap');

.navbar {
  background-color: #ff5c01;
}
.btn1 {
  background-color: transparent;
  color: white;
  border-radius: #000000;
  border-radius: 20px;
}
.btn1:hover{
    color: gray;
}
.helloween{ 
  padding-top: 90px;
  padding-bottom: 90px;
}
.hero-card{
  background-color: #745f985E !important;
  width:90% !important;
  padding-top: 30px !important;
}
.c1{
    color:white !important;
}
.c1:hover{
    color: gray !important;
}
.bg1 {
  background-image: url("Media/halloween.jpeg");
  background-size: cover;
  h1 {
    color: white;
    font-weight: 500;
    font-family: Nosifer;
  }
}
.bg2 {
  background-color: #000000;
}
.pc {
  color: white !important;
}
.img1 {
  display: flex;
  align-items: center;
}
.bg3 {
  background-image: url("Media/bg-banner.png");
  background-color: #745f98;
}
ul {
  list-style: square;
}
.bg4 {
  background-color: #745f98;
  padding-bottom: 20px;
  padding-top: 20px;
}
.bg5 {
  background-color: #000000;
  border-radius: 10px;
}
.bg6{
  background-color:#000000;
  background-image: url("Media/bg4.png");
  background-repeat: no-repeat;
}
.card {
  background-color: transparent;
  border: transparent;
}
.card:hover {
  background-color: rgba(222, 130, 130, 0.5);
}
.ic {
  display: flex;
  flex-direction: row;
}
.btn {
  border-radius: 50px !important;
  background-color: #f3a327 !important;
}
.btn:hover {
  background-color: #f3a327 !important;
}
.footer {
  background-color: #000000;
  display: flex;
  align-items: center;
  height: 50vh;
}
